<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: head"></head>

<body>

<header th:replace="fragments/commons :: navigation"></header>

<div class="spacer"></div>
<div class="container-original">
    <h2 class="text-center zaglavie">Add new PET</h2>
    <div class="spacer"></div>
    <form method="POST"
          th:action="@{/product/add}"
          th:object="${productBindingModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center"  enctype="multipart/form-data">
          <div class="row">
                <div class="form-group col mb-3">
                    <label for="inputName"
                           class="text-white font-weight-bold">Enter PET Name</label>
                    <input  name="name"
                            th:value="*{name}"
                            th:errorclass="is-invalid"
                            required minlength="3" maxlength="60"
                            type="text"
                            id="inputName"
                            class="form-control"
                           placeholder="Product name"/>
                    <small id="nameError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="invalid-feedback text-light form-text bg-danger rounded"  >Category name must be between 3 and 60 characters</small>
                </div>
              <div class="form-group col mb-3">
                  <label for="inputBreed"
                         class="text-white font-weight-bold">Enter PET Breed</label>
                  <input  name="breed"
                          th:value="*{breed}"
                          th:errorclass="is-invalid"
                          required minlength="3" maxlength="60"
                          type="text"
                          id="inputBreed"
                          class="form-control"
                          placeholder="Breed name"/>
                  <small id="breedError" th:if="${#fields.hasErrors('breed')}" th:errors="*{breed}"
                         class="invalid-feedback text-light form-text bg-danger rounded"  >Breed must be between 3 and 60 characters</small>
              </div>

          </div>
        <div class="row">
            <div class="form-group col mb-3">
                <label for="inputPrice"
                       class="text-white font-weight-bold">Enter PET Price</label>
                <input  name="price"
                        th:value="*{price}"
                        th:errorclass="is-invalid"
                        required min="0"
                        type="number"
                        id="inputPrice"
                        class="form-control"
                        placeholder="Product price"/>
                <small id="priceError" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                       class="invalid-feedback text-light form-text bg-danger rounded"  >Category</small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col mb-3">
                <label for="birthDate"
                       class="text-white font-weight-bold">Enter PET birthday date</label>
                <input th:value="*{birthDate}"
                       th:errorclass="is-invalid"
                       required
                       type="date"
                       class="form-control"
                       id="birthDate"
                       name="birthDate"/>
                <small id="birthDateError" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"
                       class="invalid-feedback text-light form-text bg-danger rounded"  >Category</small>
            </div>
        </div>
        <div class="row">

            <div class="form-group col mb-3">
                <label for="gender">Pet gender</label>
                <select id="gender" name="gender" class="custom-select form-control" required >
                    <option disabled selected value="">Select PET gender</option>
                    <option
                            th:each="g : ${T(bigproject.demo.model.entities.enums.GenderEnum).values()}"
                            th:value="${g}"
                            th:text="${g}">Select genre</option>
                </select>
                <small th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-light form-text bg-danger rounded" >You must select genre</small>

            </div>
        </div>


        <div class="row">
            <div class="form-group col mb-3">
                <label for="imgInput" class="text-white font-weight-bold">Picture</label>
                <input type="file" class="form-control" id="imgInput" name="imgInput" required="required">
            </div>
        </div>

        <div class="row text-center">
            <div class="col ">
                <div class="button-holder d-flex justify-content-center">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Product"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer th:replace="fragments/commons :: footer"></footer>
</div>

</body>
</html>
